/bionic
/build
/external/boringssl
/external/compiler-rt
/external/conscrypt
/external/libcxx
/external/libcxxabi
/external/llvm
/libnativehelper
/prebuilts/build-tools pdk
/prebuilts/clang/host/linux-x86 pdk linux
/prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.9
/prebuilts/gcc/linux-x86/arm/arm-linux-androideabi-4.9
/prebuilts/gcc/linux-x86/host/x86_64-linux-glibc2.15-4.8
/prebuilts/gcc/linux-x86/host/x86_64-w64-mingw32-4.8
/prebuilts/gcc/linux-x86/mips/mips64el-linux-android-4.9
/prebuilts/gcc/linux-x86/x86/x86_64-linux-android-4.8
/prebuilts/gcc/linux-x86/x86/x86_64-linux-android-4.9
/prebuilts/go/darwin-x86 darwin
/prebuilts/go/linux-x86 linux
/prebuilts/misc
/prebuilts/ndk
/prebuilts/ninja/darwin-x86 darwin
/prebuilts/ninja/linux-x86 linux
/prebuilts/sdk
/system/core
