[submodule "platform/art"]
	path = art
	url = ../art
[submodule "platform/bionic"]
	path = bionic
	url = ../bionic
[submodule "platform/build"]
	path = build/make
	url = ../build
[submodule "platform/build/bazel"]
	path = build/bazel
	url = ../build/bazel
[submodule "platform/build/bazel_common_rules"]
	path = build/bazel_common_rules
	url = ../build/bazel_common_rules
[submodule "platform/build/blueprint"]
	path = build/blueprint
	url = ../build/blueprint
[submodule "platform/build/kati"]
	path = build/kati
	url = ../build/kati
[submodule "platform/build/soong"]
	path = build/soong
	url = ../build/soong
[submodule "platform/dalvik"]
	path = dalvik
	url = ../dalvik
[submodule "platform/development"]
	path = development
	url = ../development
[submodule "platform/external/abseil-cpp"]
	path = external/abseil-cpp
	url = ../external/abseil-cpp
[submodule "platform/external/arm-optimized-routines"]
	path = external/arm-optimized-routines
	url = ../external/arm-optimized-routines
[submodule "platform/external/auto"]
	path = external/auto
	url = ../external/auto
[submodule "platform/external/bazel-skylib"]
	path = external/bazel-skylib
	url = ../external/bazel-skylib
[submodule "platform/external/bazelbuild-rules_license"]
	path = external/bazelbuild-rules_license
	url = ../external/bazelbuild-rules_license
[submodule "platform/external/bc"]
	path = external/bc
	url = ../external/bc
[submodule "platform/external/bison"]
	path = external/bison
	url = ../external/bison
[submodule "platform/external/bloaty"]
	path = external/bloaty
	url = ../external/bloaty
[submodule "platform/external/boringssl"]
	path = external/boringssl
	url = ../external/boringssl
[submodule "platform/external/brotli"]
	path = external/brotli
	url = ../external/brotli
[submodule "platform/external/bzip2"]
	path = external/bzip2
	url = ../external/bzip2
[submodule "platform/external/capstone"]
	path = external/capstone
	url = ../external/capstone
[submodule "platform/external/clang"]
	path = external/clang
	url = ../external/clang
[submodule "platform/external/compiler-rt"]
	path = external/compiler-rt
	url = ../external/compiler-rt
[submodule "platform/external/dagger2"]
	path = external/dagger2
	url = ../external/dagger2
[submodule "platform/external/desugar"]
	path = external/desugar
	url = ../external/desugar
[submodule "platform/external/error_prone"]
	path = external/error_prone
	url = ../external/error_prone
[submodule "platform/external/escapevelocity"]
	path = external/escapevelocity
	url = ../external/escapevelocity
[submodule "platform/external/expat"]
	path = external/expat
	url = ../external/expat
[submodule "platform/external/flex"]
	path = external/flex
	url = ../external/flex
[submodule "platform/external/fmtlib"]
	path = external/fmtlib
	url = ../external/fmtlib
[submodule "platform/external/go-cmp"]
	path = external/go-cmp
	url = ../external/go-cmp
[submodule "platform/external/go-creachadair-shell"]
	path = external/go-creachadair-shell
	url = ../external/go-creachadair-shell
[submodule "platform/external/go-creachadair-stringset"]
	path = external/go-creachadair-stringset
	url = ../external/go-creachadair-stringset
[submodule "platform/external/go-etree"]
	path = external/go-etree
	url = ../external/go-etree
[submodule "platform/external/go-subcommands"]
	path = external/go-subcommands
	url = ../external/go-subcommands
[submodule "platform/external/golang-protobuf"]
	path = external/golang-protobuf
	url = ../external/golang-protobuf
[submodule "platform/external/golang-x-sync"]
	path = external/golang-x-sync
	url = ../external/golang-x-sync
[submodule "platform/external/golang-x-sys"]
	path = external/golang-x-sys
	url = ../external/golang-x-sys
[submodule "platform/external/golang-x-tools"]
	path = external/golang-x-tools
	url = ../external/golang-x-tools
[submodule "platform/external/google-java-format"]
	path = external/google-java-format
	url = ../external/google-java-format
[submodule "platform/external/googletest"]
	path = external/googletest
	url = ../external/googletest
[submodule "platform/external/gson"]
	path = external/gson
	url = ../external/gson
[submodule "platform/external/guava"]
	path = external/guava
	url = ../external/guava
[submodule "platform/external/icu"]
	path = external/icu
	url = ../external/icu
[submodule "platform/external/javapoet"]
	path = external/javapoet
	url = ../external/javapoet
[submodule "platform/external/jemalloc_new"]
	path = external/jemalloc_new
	url = ../external/jemalloc_new
[submodule "platform/external/jsoncpp"]
	path = external/jsoncpp
	url = ../external/jsoncpp
[submodule "platform/external/jsr305"]
	path = external/jsr305
	url = ../external/jsr305
[submodule "platform/external/kotlinc"]
	path = external/kotlinc
	url = ../external/kotlinc
[submodule "platform/external/ktfmt"]
	path = external/ktfmt
	url = ../external/ktfmt
[submodule "platform/external/kythe"]
	path = external/kythe
	url = ../external/kythe
[submodule "platform/external/libcap"]
	path = external/libcap
	url = ../external/libcap
[submodule "platform/external/libcxx"]
	path = external/libcxx
	url = ../external/libcxx
[submodule "platform/external/libcxxabi"]
	path = external/libcxxabi
	url = ../external/libcxxabi
[submodule "platform/external/libffi"]
	path = external/libffi
	url = ../external/libffi
[submodule "platform/external/libnl"]
	path = external/libnl
	url = ../external/libnl
[submodule "platform/external/libunwind"]
	path = external/libunwind
	url = ../external/libunwind
[submodule "platform/external/libunwind_llvm"]
	path = external/libunwind_llvm
	url = ../external/libunwind_llvm
[submodule "platform/external/licenseclassifier"]
	path = external/licenseclassifier
	url = ../external/licenseclassifier
[submodule "platform/external/llvm"]
	path = external/llvm
	url = ../external/llvm
[submodule "platform/external/lzma"]
	path = external/lzma
	url = ../external/lzma
[submodule "platform/external/musl"]
	path = external/musl
	url = ../external/musl
[submodule "platform/external/ninja"]
	path = external/ninja
	url = ../external/ninja
[submodule "platform/external/nsjail"]
	path = external/nsjail
	url = ../external/nsjail
[submodule "platform/external/one-true-awk"]
	path = external/one-true-awk
	url = ../external/one-true-awk
[submodule "platform/external/openssl"]
	path = external/openssl
	url = ../external/openssl
[submodule "platform/external/ow2-asm"]
	path = external/ow2-asm
	url = ../external/ow2-asm
[submodule "platform/external/pcre"]
	path = external/pcre
	url = ../external/pcre
[submodule "platform/external/protobuf"]
	path = external/protobuf
	url = ../external/protobuf
[submodule "platform/external/python/cpython2"]
	path = external/python/cpython2
	url = ../external/python/cpython2
[submodule "platform/external/python/cpython3"]
	path = external/python/cpython3
	url = ../external/python/cpython3
[submodule "platform/external/safe-iop"]
	path = external/safe-iop
	url = ../external/safe-iop
[submodule "platform/external/selinux"]
	path = external/selinux
	url = ../external/selinux
[submodule "platform/external/spdx-tools"]
	path = external/spdx-tools
	url = ../external/spdx-tools
[submodule "platform/external/sqlite"]
	path = external/sqlite
	url = ../external/sqlite
[submodule "platform/external/starlark-go"]
	path = external/starlark-go
	url = ../external/starlark-go
[submodule "platform/external/tinyxml2"]
	path = external/tinyxml2
	url = ../external/tinyxml2
[submodule "platform/external/toybox"]
	path = external/toybox
	url = ../external/toybox
[submodule "platform/external/turbine"]
	path = external/turbine
	url = ../external/turbine
[submodule "platform/external/zlib"]
	path = external/zlib
	url = ../external/zlib
[submodule "platform/external/zopfli"]
	path = external/zopfli
	url = ../external/zopfli
[submodule "platform/packages/modules/common"]
	path = packages/modules/common
	url = ../packages/modules/common
[submodule "platform/prebuilts/bazel/common"]
	path = prebuilts/bazel/common
	url = ../prebuilts/bazel/common
[submodule "platform/prebuilts/bazel/darwin-x86_64"]
	path = prebuilts/bazel/darwin-x86_64
	url = ../prebuilts/bazel/darwin-x86_64
[submodule "platform/prebuilts/bazel/linux-x86_64"]
	path = prebuilts/bazel/linux-x86_64
	url = ../prebuilts/bazel/linux-x86_64
[submodule "platform/prebuilts/build-tools"]
	path = prebuilts/build-tools
	url = ../prebuilts/build-tools
[submodule "platform/prebuilts/clang-tools"]
	path = prebuilts/clang-tools
	url = ../prebuilts/clang-tools
[submodule "platform/prebuilts/clang/host/darwin-x86"]
	path = prebuilts/clang/host/darwin-x86
	url = ../prebuilts/clang/host/darwin-x86
[submodule "platform/prebuilts/clang/host/linux-x86"]
	path = prebuilts/clang/host/linux-x86
	url = ../prebuilts/clang/host/linux-x86
[submodule "platform/prebuilts/gcc/linux-x86/host/x86_64-linux-glibc2.17-4.8"]
	path = prebuilts/gcc/linux-x86/host/x86_64-linux-glibc2.17-4.8
	url = ../prebuilts/gcc/linux-x86/host/x86_64-linux-glibc2.17-4.8
[submodule "platform/prebuilts/gcc/linux-x86/host/x86_64-w64-mingw32-4.8"]
	path = prebuilts/gcc/linux-x86/host/x86_64-w64-mingw32-4.8
	url = ../prebuilts/gcc/linux-x86/host/x86_64-w64-mingw32-4.8
[submodule "platform/prebuilts/go/darwin-x86"]
	path = prebuilts/go/darwin-x86
	url = ../prebuilts/go/darwin-x86
[submodule "platform/prebuilts/go/linux-x86"]
	path = prebuilts/go/linux-x86
	url = ../prebuilts/go/linux-x86
[submodule "platform/prebuilts/jdk/jdk11"]
	path = prebuilts/jdk/jdk11
	url = ../prebuilts/jdk/jdk11
[submodule "platform/prebuilts/jdk/jdk17"]
	path = prebuilts/jdk/jdk17
	url = ../prebuilts/jdk/jdk17
[submodule "platform/prebuilts/jdk/jdk8"]
	path = prebuilts/jdk/jdk8
	url = ../prebuilts/jdk/jdk8
[submodule "platform/prebuilts/jdk/jdk9"]
	path = prebuilts/jdk/jdk9
	url = ../prebuilts/jdk/jdk9
[submodule "platform/prebuilts/misc"]
	path = prebuilts/misc
	url = ../prebuilts/misc
[submodule "platform/prebuilts/remoteexecution-client"]
	path = prebuilts/remoteexecution-client
	url = ../prebuilts/remoteexecution-client
[submodule "platform/prebuilts/tools"]
	path = prebuilts/tools
	url = ../prebuilts/tools
[submodule "platform/system/apex"]
	path = system/apex
	url = ../system/apex
[submodule "platform/system/core"]
	path = system/core
	url = ../system/core
[submodule "platform/system/libbase"]
	path = system/libbase
	url = ../system/libbase
[submodule "platform/system/libhwbinder"]
	path = system/libhwbinder
	url = ../system/libhwbinder
[submodule "platform/system/libziparchive"]
	path = system/libziparchive
	url = ../system/libziparchive
[submodule "platform/system/logging"]
	path = system/logging
	url = ../system/logging
[submodule "platform/system/tools/aidl"]
	path = system/tools/aidl
	url = ../system/tools/aidl
[submodule "platform/system/tools/hidl"]
	path = system/tools/hidl
	url = ../system/tools/hidl
[submodule "platform/system/tools/xsdc"]
	path = system/tools/xsdc
	url = ../system/tools/xsdc
[submodule "platform/system/unwinding"]
	path = system/unwinding
	url = ../system/unwinding
[submodule "platform/test/app_compat/csuite"]
	path = test/app_compat/csuite
	url = ../test/app_compat/csuite
[submodule "toolchain/go"]
	path = toolchain/go
	url = ../../toolchain/go
[submodule "toolchain/m4"]
	path = toolchain/m4
	url = ../../toolchain/m4
[submodule "toolchain/make"]
	path = toolchain/make
	url = ../../toolchain/make
[submodule "toolchain/xz"]
	path = toolchain/xz
	url = ../../toolchain/xz
